$title-size: rem-calc(53);

//Global Styles

a {
  color: $gray_b1;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: none;
}

.orange {
  color: $orange;
}

//Header Styles
.site-header {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(20);

  .site-title{
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: $title-size;
    text-align: center;
    margin-bottom: rem-calc(20);
    padding-top: 20px;
    height: 93px;
    overflow: hidden;
    img {
      padding-top: 10px;
    }
    div {
       @include transition(all 0.2s ease-in-out);
    }
    a, a:hover {
      border: none;
    }
    &:hover div {
      margin-top: -93px;
    }
    span, span:hover {
      border-top: rem-calc(10) solid $gray_b1;
      border-bottom: rem-calc(10) solid $gray_b1;
      color: $gray;
    }
  }
}


.nav-link {
  text-align: center;
  a {
    border: none;
  }
  .hire {
    color: $orange;
    border: 3px solid $orange;
    padding: 5px;
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
  }

  .hire:hover {
    border: 3px solid $orange;
    color: #fff;
    background: $orange;
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
  }
}


.home {
  .taglines {
    text-align: center;
    margin: rem-calc(40) 0;
    @include text-shadow(0px 1px 0px $gray_b2);
    h2 {
      color: $orange;
    }
  }


  // @media #{$medium-up} { 
  //   .nav-link {
  //       line-height: $title-size * $header-line-height;
  //   }
  // }

  //Index Styles
  .section-header {
    text-align: center;
    @include text-shadow(0px 1px 0px $gray_b2);
    font-weight: 600;
    margin-bottom: rem-calc(30);
  }

  .section-subheader {
    text-align: center;
    @include text-shadow(0px 1px 0px $gray_b2);
    font-weight: 600;
    color: $gray_b1;
  }


  //Work Styles
  .project {
    img {
      border: 1px solid $gray;
      // opacity: 0.6;
      // &:hover {
      //   opacity: 1;
      // }
    }
    margin-bottom: rem-calc(15);
  }

  .row.section {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
  }


  //about styles 
  .client-logo {
    @include filter(grayscale(100%));
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
    &:hover {
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-out);
      @include filter(grayscale(0%));
    }
  }
}
