$title-size: rem-calc(53);

//Global Styles

a {
  color: $gray_b1;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: none;
}

.blue {
  color: $blue;
}

//Header Styles
.site-header {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(20);

  .site-title{
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: $title-size;
    text-align: center;
    margin-bottom: rem-calc(20);
    // padding-top: 20px;
    height: 93px;
    overflow: hidden;
    .site-logo {
      margin-top: -10px;
    }
    .site-text {
      padding-top: 20px;
    }
    div {
     @include transition(all 0.3s ease-in-out);
   }
   a, a:hover {
    border: none;
  }
  &:hover .site-logo {
    margin-top: -126px;
  }
  span, span:hover {
    border-top: rem-calc(10) solid $gray_b1;
    border-bottom: rem-calc(10) solid $gray_b1;
    color: $gray;
  }
}
}


.nav-link {
  text-align: center;
  a {
    border: none;
  }
}

.blue-button {
    color: $blue;
    border: 3px solid $blue !important;
    padding: 5px;
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
  }

  .blue-button:hover {
    border: 3px solid $blue;
    color: #fff;
    background: $blue;
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
  }

.section.blue {
  max-width: 100%;
  background: $blue;
  color: #fff;
  padding: rem-calc(30) 0;
  h3 {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
  label {
    color: #fff;
  }
  .row {
    max-width: rem-calc(1000);
    margin: auto;
  }
}
.hero {
  text-align: center;
  margin: rem-calc(70) 0;
  a {
    border: none;
  }
  h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
  }
}

.row.section {
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  padding: 5px;
}

.section-header {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: rem-calc(30);
}

.section-subheader {
  text-align: center;
  font-weight: 400;
  color: $gray_b1;
}
