.home {
  

  .tagline-container {
    max-width: 100%;
    background: $blue url('/images/comp-notebook-background-dark.jpg') !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
  }
  
  .taglines {
    margin: rem-calc(120) 0;
  }


  //Index Styles


  //Work Styles
  .project {
    img {
      border: 2px solid $gray;
    }
    .img-wrapper {
      position: relative;
    }
    .overlay {
      display: none;
      height: 100%;
      position: absolute;
      width: 100%;
      @include transition(all 0.3s ease-in-out);
    }
    a:hover {
      .overlay {
        display: block;
        @include transition(all 0.3s ease-in-out);
      }
    }
    margin-bottom: rem-calc(15);

  }

  


  #hire {
    button {
      border: 2px solid #fff;
      background-color: $blue;  
      color: #fff;
      &:hover {
        background: #fff;
        color: $blue;  
      }
      
    }
  }

}