.work {
  .hero-container {
    max-width: 100%;
    background: $blue url('/images/work-bag-dark.jpg') !important;
    // background: $blue url('/images/comp-notebook-background-dark.jpg') !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
  }
  .hero .label {
    text-transform: uppercase;
    margin-bottom: rem-calc(5);
  }
}