.index {

  h1 {
    @include text-width(7);
    margin-top: padding-blocks(1);
    position: relative;
    line-height: $base-line-height;
    // left: 10px;
    font-family: $sans-serif;
    // color: $blue-b2;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
  }

  .about {
    margin: padding-blocks(6) auto;
    @include media($tablet) {
      margin: padding-blocks(4) auto;
    }
  }

  .main-content section hr {
    width: 12em;
    margin: auto;
  }
  // About
  .about .bio {  
    @include span-columns(7);  
    font-weight: 300;  
    font-size: 1.25em;

    @include media($tablet) {
      @include span-columns(12);
      @include omega();
    }

  }

  .services-clients {
    @include span-columns(4);
    @include shift(1);
    @include omega();
    @include media($tablet) {
      @include span-columns(12);
      @include shift(0);
    }
    p, ul {
      font-family: $sans-serif;
      text-transform: uppercase;
    }

    p.subheading {
      font-weight: 700;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      li {
        font-weight: 400;
        line-height: $base-line-height;
        color: lighten($base-font-color, 30%);
      }
    }

  }

  .work-link {
    margin: padding-blocks(6) auto;
  }
  
}
