article.landing {
  height: 100%;
  .hero {
    width: 100%;
    @include retina-image('/images/landing-bg', 397px 322px);
    // color: $white;
    height: calc(100%);

    h1 {
        position: relative;
        line-height: 1.6em;
        left: 10px;
        font-family: $sans-serif;
        color: $blue-b2;
    }
  }

  .find-out-more {
    margin: 2em auto;
    position: relative;
    clear: both;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -20px;
      width: 40px;
      width: 40px;
      &.filled {
        opacity: 0;
      }
      @include transition(all 0.2s ease-in-out);
    }
    a:hover {
      img.outline {
        opacity: 0;
      }
      img.filled {
        opacity: 1;
      }
    }

  }
  section.hero-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -$navbar-height;
  }
  .description h1 {
    margin: padding-blocks(3) auto;
    @include media($tablet) {
      margin: padding-blocks(2) auto;
    }
    @include media($mobile) {
      margin: padding-blocks(1) auto;
    }
  }
}