.index {

  h1 {
    @include hero-text-styles();
    margin-top: padding-blocks(1);
    margin-bottom: padding-blocks(1);
    @include media($tablet) {
      margin-top: padding-blocks(1);
      margin-bottom: padding-blocks(1);
    }
  }

  .about {
    margin: padding-blocks(6) auto;
    @include media($tablet) {
      margin: padding-blocks(4) auto;
    }
  }

  // About
  .about .bio {  
    @include span-columns(7);  
    font-weight: 300;  
    font-size: 1.25em;

    @include media($tablet) {
      @include span-columns(12);
      @include omega();
    }

  }

  .services-clients {
    @include span-columns(4);
    @include shift(1);
    @include omega();
    @include media($tablet) {
      @include span-columns(12);
      @include shift(0);
      .services, .clients {
        @include span-columns(6);
      }
    }
    p, ul {
      font-family: $sans-serif;
      text-transform: uppercase;
    }

    p.subheading {
      font-weight: 700;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      li {
        font-weight: 400;
        line-height: $base-line-height;
        color: lighten($base-font-color, 30%);
      }
    }

  }

  .work-link {
    margin: padding-blocks(6) auto;
  }
  
}

.main-content {
  margin-bottom: padding-blocks(4);
  @include media($mobile) {
    margin-bottom: padding-blocks(2);
  }
}