---
layout: default
title: HOME
---
<div class="home">
  <div class="row section blue tagline-container">
    <div class="row">
      <div class="small-12 columns taglines">
          <h2>
          I <span class="rotate-verbs">design & build|craft|create & revise</span> <span class="rotate-nouns">custom software</span>.
          </h2>
      </div>
    </div>
  </div>
  <div class="row section" id="work">
    {% include work.html %}
  </div>
  <div class="row section" id="about">
      {% include about.html %}
  </div>
  <div class="row section" id="services-clients">
      {% include services-clients.html %}
  </div>
  <div class="row section blue" id="hire">
    <div class="row">
      {% include hireme.html %}
    </div>
  </div>
  <script>
    $(document).ready(function() {
      if ($(document).width() > 735) { //Ensure navigation links are at the right height if the screen is large enough.
        $(".nav-link").css("top", $(".nav-link").parent().height()/4);  
      }
    });
  </script>
  <script src='/js/text-rotate.js'  type='text/javascript'></script>
</div>