---
layout: default
title: HOME
---
<div class="home">
  <div class="row section">
      <div class="small-12 columns taglines">
          <h2>
          I design & build <span id="services">custom software</span>.
          </h2>
      </div>
  </div>
  <div class="row section" id="work">
    {% include work.html %}
  </div>
  <div class="row section" id="about">
      {% include about.html %}
  </div>
  <div class="row section" id="hire">
      {% include hireme.html %}
  </div>
  <script>
  //Code to Rotate Services.
  // var services = ["android apps", "websites", "eCommerce storefronts", "custom software"];
  $(document).ready(function() {
    //TODO: Only adjust value if on medium or larger screen.
    if ($(document).width() > 735) {
      $(".nav-link").css("top", $(".nav-link").parent().height()/4);  
    }
    
  //   var i = 0;
  //   window.setInterval(function() {
          //     $("#services span:first-child").slideUp().hide();
          //     $("#services span:nth-child(2)").html(services[i]).show().slideUp();
          //     // console.log(services[i]);
          //     i = i + 1;
          //     if (i >= services.length) {
          //       i = 0;
          //     };
  //   }, 1500);
  });
  </script>
</div>