* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: $blue-b2;
}

body {
  -webkit-font-smoothing: antialiased;
}

section {
  @include outer-container;
  padding-left: padding-blocks(1);
  padding-right: padding-blocks(1);
}

.center-vertical {
  @include vertical-align();
}
