.fixed--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: padding-blocks(2);
}

.text-center {
  text-align: center;
}

.omega {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}


.no-padding-bottom {
  padding-bottom: 0 !important;
}

p.callout {
  padding: 20px;
  background-color: $blue-d2;
    color: $white;
}
