$margin-top: 50px;
$duration: 1.5s;

.fade-up {
  @include animation(fadeup $duration ease);
}

@keyframes fadeup {
  from {
    opacity: 0;
    @include transform(translateY($margin-top));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeup {
  from {
    opacity: 0;
    @include transform(translateY($margin-top));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeup {
  from {
    opacity: 0;
    @include transform(translateY($margin-top));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

/* Internet Explorer */
@-ms-keyframes fadeup {
  from {
    opacity: 0;
    @include transform(translateY($margin-top));
  }
  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}
