= wrap_layout :layout do
  %section.blog
    %article.post.type-system-slab
      / - if current_article.data.type
      /   %p.type= current_article.data.type
      %p.date
        = current_article.date.strftime('%b %e, %Y')
      %h1
        = link_to current_article.title, current_article
      %h2
        = current_article.data.description
      ~ yield