.cta
  %section
    .cta__text.type-system-slab.text-center
      %h2 Let's make something awesome together.
    .cta__buttons
      %a{class: "button text-center", href:'mailto:hello@graybike.co', alt: "Get in touch"}
        .button__text GET IN TOUCH