%section.cta
  %p.text-center Interested in working together or want to find out more?
  .cta__contact.text-center
    %a.cta__button{href:'mailto:hello@graybike.co', alt: "Get in touch"}
      .cta__cta-text GET IN TOUCH
  .cta__availability.text-center
    %p.type
      [ AVAILABLE FROM
      = data.availability
      ]
