%footer#footer
  %ul.text-center
    %li
      %p
        %a{href: 'mailto:hello@graybike.co'} hello@graybike.co
    %li.divider
      %p &#xb7;  
    %li
      %p 415.326.3397
    %li.divider
      %p &#xb7;
    %li
      %p 
        %a{href: 'https://twitter.com/ptrikutam'} @ptrikutam
  - if data.features.colophon
    .colophon.text-center
      %a{href:"/colophon"} about this site
:javascript
  !function(){var e=document.body,t=(document.documentElement,Math.max(e.offsetHeight,0)),n=Math.max(document.documentElement.clientHeight,window.innerHeight||0),o=document.getElementById("footer");n>t&&(o.style.position="absolute")}();