%footer
  %ul.text-center
    %li
      %p
        hello@graybike.co
    %li.divider
      %p &#xb7;  
    %li
      %p 415.326.3397
    %li.divider
      %p &#xb7;
    %li
      %p San Francisco, CA
  - if data.features.colophon
    .colophon.text-center
      %a{href:"/colophon"} about this site