%header
  %div
    %h2
      %a
        / = image_tag 'logo.svg', alt:'Gray Bike'
        = succeed "BIKE" do
          %span.dg GRAY
  %nav
    %a
      %span Work
    %a
      %span Words
    %a.hire
      %span Hire