%header
  %div
    %h2
      %a{href:"/"}
        = succeed "BIKE" do
          %span.dg GRAY
  %nav
    %a{href:"/"}
      %span{class: ("active" if current_page.url == "/")} About
    %a{href:"/work"}
      %span{class: ("active" if current_page.url.include? "/work")} Work
    - if data.features.blog
      %a{href:"/words"}
        %span{class: ("active" if current_page.url.include? "/words")} Words
