%header
  %div
    %h2
      %a
        / = image_tag 'logo.svg', alt:'Gray Bike'
        = succeed "BIKE" do
          %span.dg GRAY
  %nav
    %a{href:"#services"}
      %span About
    %a{href:"#work"}
      %span Work
    %a
      %span Words
    %a.contact{href:'mailto:hello@graybike.co'}
      %span Contact