<header class="site-header">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="site-title">
                <div class="site-logo">
                    <a href="{{ site.baseurl }}/"><img src="/images/logo.png"></a>
                </div>
                <div class="site-text">
                    <a href="{{ site.baseurl }}/"><span>
                        {{ site.title }}
                    </span></a>
                </div>
            </div>
        </div>
        <div class="small-6 medium-2 columns nav-link">
            <h5><a href="/#work">WORK</a></h5>
        </div>
        <div class="small-6 medium-2 columns nav-link">
            <h5><a href="/#about">ABOUT</a></h5>
        </div>
        <div class="small-6 medium-2 columns nav-link">
            <h5><a href="/blog">BLOG</a></h5>
        </div>
        <div class="small-6 medium-2 columns nav-link">
            <h5><a href="/#hire" id="hire-button" class="blue-button">HIRE US</a></h5>
        </div>
    </div>
</header>