<div class="small-12 columns">
    <h3 class="section-header">HIRE ME</h3>
</div>
<div class="small-12 medium-4 columns">
    <p>Got a cool project? I'd love to hear about it! Send me a little info and we'll get started!</p>
    <p><em>If possible, let me know your timeline, your current website or app, and any other info I may need to understand your project.</em></p>
</div>
<div class="small-12 medium-8 columns">
    <form id="contact-form">
        <div class="row">
            <div class="large-12 columns">
                <label>What's your name/company?
                    <input type="text" id="form-name" placeholder="Name/Company" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>What's your email?
                    <input type="text" id="form-email" placeholder="Email" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>What's your budget?
                    <select id="form-budget">
                        <option value="5to10">$5,000 - $10,000</option>
                        <option value="10to20">$10,000 - $20,000</option>
                        <option value="20to50">$20,000 - $50,000</option>
                        <option value="50plus">$50,000+</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Tell me about your project! The more detail you provide, the better I can help you!
                    <textarea id="form-project" placeholder="Project description"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit">Submit</button>
            </div>
        </div>

    </form>

    <div class="small-12 columns text-center">
                <h5 id="sent" class="section-subheader">Thanks for sending your message! I'll be in touch soon.</h5>
                <h5 id="error" class="error section-subheader">Please fill out all the fields before sending your message.</h5>
            </div>
    </div>
</div>