<div class="small-12 columns">
    <h3 class="section-header">HIRE ME</h3>
</div>
<div class="small-12 medium-4 columns">
    <p>Got a cool project? I'd love to hear about it! Send me a little info and we'll get started!</p>
    <p><em>If you know it, let me know your ideal timeline, your current website, and any other info I need to understand your project</em></p>
</div>
<div class="small-12 medium-8 columns">
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>What's your name/company?
                    <input type="text" placeholder="Name/Company" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>What's your email?
                    <input type="text" placeholder="Email" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>What's your budget?
                    <select>
                        <option value="3to5">$3,000 - $5,000</option>
                        <option value="5to10">$5,000 - $10,000</option>
                        <option value="10to20">$10,000 - $12,000</option>
                        <option value="20plus">$20,000+</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Tell me about your project! The more detail you provide, the better I can help you!
                    <textarea placeholder="Project description"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>