<div class="small-12 columns">
  <h5 class="section-subheader">SOME FOLKS I'VE WORKED WITH</h5>  
</div>

<div class="small-12 columns">
  <ul class="small-block-grid-2 medium-block-grid-4">
    <li>
      <img class="client-logo" src="/images/logos/macys.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/ceh.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/bloomingdales.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/designlikewhoa.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/2teecouture.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/salt.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/oncontracting.png">
    </li>
    <li>
      <img class="client-logo" src="/images/logos/moovweb.png">
    </li>
  </ul>
</div>
