<div class="row">
  <div class="small-12 columns">
    <h5 class="section-header">SERVICES OFFERED</h5>
    <div class="small-12 medium-5 columns">
      <h5 class="section-subheader">Technical</h5>
      <ul>
        <li>Full Stack Web Design & Development (Back & Front End)</li>
        <li>Android Design & Development</li>
        <li>Shopify Apps & Themes</li>
      </ul>
    </div>
    <div class="small-12 medium-5 medium-offset-2 columns">
      <h5 class="section-subheader">Non-Technical</h5>
      <ul>
        <li>UX Design</li>
        <li>Content Strategy</li>
        <li>Product Development</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h5 class="section-header">SOME FOLKS I'VE WORKED WITH</h5>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-2 medium-block-grid-4">
          <li>
            <img class="client-logo" src="/images/logos/macys.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/ceh.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/bloomingdales.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/designlikewhoa.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/2teecouture.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/salt.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/oncontracting.png">
          </li>
          <li>
            <img class="client-logo" src="/images/logos/1800flowers.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>