<div class="small-12 columns">
  <h3 class="section-header">WORK</h3>
  <div class="row">
    <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
        <li class="text-center project">
          <img src="/images/work/truecurrency/tc-thumbnail.png">
          <h3><small>True Currency</small></h3>
        </li>
        <li class="text-center project">
          <img src="/images/work/2teecouture/2tee-thumbnail.png">
          <h3><small>2tee Couture</small></h3>
        </li>
        <li class="text-center project">
          <img src="/images/work/salt/salt-thumbnail.png">
          <h3><small>SALT Technologies</small></h3>
        </li>
        <li class="text-center project">
          <img src="/images/work/oncontracting/oc-thumbnail.png">
          <h3><small>OnContracting</small></h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h5 class="section-subheader">WHAT MY CLIENTS SAY</h5>
      <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>
    </div>
  </div>
</div>