.mt-sm {
  margin-top: spc(small);
}

.mt-md {
  margin-top: spc(medium);
}

.mt-lg {
  margin-top: spc(large);
}

.mt-lg {
  margin-top: spc(large);
}

.mt-xl {
  margin-top: spc(xlarge);
}

.mb-sm {
  margin-bottom: spc(small);
}

.mb-md {
  margin-bottom: spc(medium);
}

.mb-lg {
  margin-bottom: spc(large);
}

.mb-lg {
  margin-bottom: spc(large);
}

.mb-xl {
  margin-bottom: spc(xlarge);
}