.cta__button {
  display: block;
  margin: auto;
  max-width: 350px;
  min-width: 320px;
  height: 50px;
  background-color: $action-color;
  color: $blue-b2;
  
  @include transition(all 0.3s ease-in-out);
  .cta__cta-text {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));  
    font-family: $sans-serif;
    font-weight: 600;
  }

  &:hover {
    background-color: $blue-b2;
    color: $action-color;
    border: 3px solid $action-color;
  }
}