// $cta-color: #09BCE4;
$cta-color: #5B8C98;
.cta {
  padding: padding-blocks(3) padding-blocks(1);
  @include media($mobile) {
    padding: padding-blocks(2) padding-blocks(1);
  }

  background-color: $cta-color;
  color: $white;

  .cta__text {
    @include span-columns(7);
    h2 {
      line-height: 50px;  
      margin-bottom: 0;
    }
  }

  .cta__buttons {
    @include span-columns(5);

    .button {
      // @include button-styles($cta-color);
      background-color: $blue-b2;
      color: $cta-color;
      border: none;
    }
  }


  @include media($tablet) {
    .cta__text, .cta__buttons {
      @include span-columns(12);
      text-align: center;
    }
    .cta__text h2 {
      margin-bottom: 1em;
    }
  }
}