.cta {
  margin: padding-blocks(2);
  &.no-bottom {
    margin-bottom: 0;
  }
  p:first-child {
    margin-bottom: padding-blocks(1);
  }
}
.cta__button {
  display: block;
  margin: auto;
  max-width: 300px;
  min-width: 240px;
  height: 50px;
  
  background-color: $blue-b2;
  color: $action-color;
  border: 3px solid $action-color;
  
  @include transition(all 0.3s ease-in-out);
  .cta__cta-text {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));  
    font-family: $sans-serif;
    font-weight: 600;
  }

  &:hover {
    background-color: $action-color;
    color: $blue-b2;
  }
}