.dots-background {
  padding-top: padding-blocks(4);
  padding-bottom: padding-blocks(4);
  position: relative;
  h1.fade-in {
    z-index: 100;
  }

  svg {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
