<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrap">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script src='/js/jquery-2.1.1.min.js'  type='text/javascript'></script>
  <script src='/js/foundation/js/foundation.js'  type='text/javascript'></script>
  <!-- <script src='/js/foundation/js/foundation/foundation.clearing.js'  type='text/javascript'></script> -->
  <script src='/js/app.js'  type='text/javascript'></script>
</body>
</html>