<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrap">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script src='/js/jquery-2.1.1.min.js'  type='text/javascript'></script>
  <script>
    $(document).ready(function() {
    if ($(document).width() > 735) { //Ensure navigation links are at the right height if the screen is large enough.
      $(".nav-link").css("top", $(".nav-link").parent().height()/4);  
    }
  });
</script>
</body>
</html>