---
title: Gray Bike | Software & Design Consulting
---

%article.landing.type-system-slab
  .hero
    %section
      .intro
        = image_tag 'logo.svg', alt:'Gray Bike'
        %h1 Gray Bike is a small software and user experience consultancy in San Francisco, California.

    .fixed--bottom
      %h2 FIND OUT MORE
