%section.text-center.hero-text
  %h1.fade-up= data.site_info.description
    
#about
.main-content.type-system-slab
  
  %section
    .about
      .bio
        %p.tagline My name is Pavan Trikutam. I'm a designer & developer living in San Francisco. Gray Bike is what I call my consulting business because it's a heck of a lot easier for people to spell than my name.

        %p Since 2009, I've worked as a technical partner for organizations of all sizes. Usually this involves a combination of design, code, and lots of collaboration. I love being involved in a project from the design phase, but I'm happy to jump in at any stage.

        %p I'm comfortable working alone or with your existing team. If you want me to put together a team for a project, I can help there too.

        %p
          If you'd like to find out more or work with me,
          %a{href: 'mailto:hello@graybike.co'} send me an email
          or call me directly at
          %a{href: 'tel:4153263397'} 415-326-3397.

      .services-clients
        .services
          %p.subheading What I can do for you
          %ul 
            %li Estimate & plan your next project
            %li Design & build a digital product
            %li Create a data visualization
        .clients
          %p.subheading SOME FOLKS I'VE WORKED WITH
          %ul
            %li Soma Water
            %li Wootric
            %li Macy's & Bloomingdale's
            %li The Minerva Project
            %li Cell Signal Technology
            %li Captains of Industry
            %li Hummings
            %li Command Line Interactive

  %section
    .text-center.work-link
      %a.cta__button{href:'/work', alt: "Work"}
        .cta__cta-text CHECK OUT MY WORK